body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.bandeau {
    background-color: #a54caf;
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}

.bandeau a {
    display: inline-block;
    color: white;
    text-align: center;
    padding:40px 50px;
    text-decoration: none;
    font-size: 30px;
}

.bandeau a:hover {
    background-color: #af4c8e;
}

.bandeau a.active {
    background-color: #af4c8e;
}

.content {
    padding: 40px;
}
